<DOCTYPE html>
<html>
<head>
<title>Camera Settings</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}screen.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}handheld.css" media="screen and (max-device-width: 800px)" />
</head>
<body>
<h1>Camera Settings</h1>
<h1>Camera THANKS</h1>


<p><a href="/">Home</a></p>
<p><a href="/camera_control/settings/{{ CamId }}">Camera Settings</a></p>
<p><a href="/gates_control/">Gates Control</a></p>
<p><a href="/logout/">Logout</a></p>

</body>
</html>
